<!-- BOOTSTRAP NAVIGATION -->
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="maintitle navbar-brand">COURSE<span class="blue">GOD</span> <span class="subtitle">for York<span class="blue">U</span></span></div>
  </div>
</nav>