#

.selected {
	color:white;
	background-color:blue;
	position:relative;
}

table {
	 border-collapse: collapse;
	 text-align: center;
}

td {
	padding-top: 0.5em;
	padding-right: 3em;
	width: 30px;
    height: 10px;

}	

tr.line > td {
	color: #A0A0A0 	;
	border-top: 1pt solid #E8E8E8;
}

#fall-cal {
	float:left;
	margin-right: 5em;
}

#winter-cal {
	float:right;
}
