<% include ../partials/head %>

<body>

<% include ../partials/nav_logged_in %>

<!-- Left side of the Page -->
<div class="container-fluid">
    <div class="row">
        <!-- Search class menu & classes -->
        <div class="col-sm-3 col-md-3 sidebar">
            <div class="input-group input-group-md">
                <!-- Search Functionality with Select 2 Plugin -->
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <select class="select2 form-control" style="width: 100%"></select>
            </div>

            <!-- List of Classes -->
            <div class="list-group" style="margin-top: 20px">
                <form id="courses">
                </form>
            </div>
        </div>

        <!-- RIGHT SIDE OF THE PAGE -->
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
            <div class="col-lg-6">
                <div>
                    <div id='calendar'></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div id='calendar2'></div>
                </div>
            </div>

        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        // Initiate localStorage
        if (typeof(Storage) !== "undefined") {
            // Retrieve
            console.log("localStorage working");
        } else {
            alert("Your browser does not support Web Storage.\n (data is lost when the browser is closed.)");
        }

        // Initiate search bar
        $(".select2").select2({
            placeholder: "Select courses",
            ajax: {
                url: "/allCourses",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        term: params.term // search term
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    // http://stackoverflow.com/questions/31353259/select2-4-0-0-cant-select-results

                    return {
                        results: data
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }, // let the custom formatter work
            minimumInputLength: 3,
            templateResult: formatCourse,
            templateSelection: formatCourseSelection
        });


        function formatCourse (course) {
            if (course.loading) return course.text;
            var markup = "<div class='select2-result-repository clearfix'>" +
                    "<div class='select2-result-repository__title'>" + course.courseCode + " " + course.courseName + "</div></div>";
            return markup;
        }

        function formatCourseSelection (status) {
            return status.courseCode || status.text;
        }

        // Set eventListener for the searchbar
        var $eventSelect = $(".select2");
        $eventSelect.on("select2:select", function (e) { log("select2:select", e); });
        var courseCount = 1;


        // Add course to the sidebar
        function log (name, evt) {
            if (!evt) {
                var args = "{}";
            } else {
                var args = JSON.stringify(evt.params, function (key, value) {
                    if (value && value.nodeName) return "[DOM node]";
                    if (value instanceof $.Event) return "[$.Event]";
                    return value;
                });
            }
            var titleExists = false;
            var courseCode = JSON.parse(args).data['courseCode'];
            var courseName = JSON.parse(args).data['courseName'];

            $.ajax({
                type: "GET",
                url: "/course/" + courseCode + "/" + courseName,
                dataType: 'json',
                success: function(data) {
                    if (localStorage[courseCode] == null) {
                        localStorage[courseCode] = JSON.stringify([{title: courseName, data: data, selection: {}}]);
                        if (localStorage['allCourses'] == null) {
                            var temp = [courseCode];
                            localStorage['allCourses'] = JSON.stringify(temp);
                        } else {
                            var temp = JSON.parse(localStorage['allCourses']);
                            var courseExists = false;
                            for (var i = 0; i < temp.length; i++) {
                                if (temp[i] == courseCode) {
                                    courseExists = true;
                                }
                            }
                            if (!courseExists) {
                                temp.push(courseCode);
                                localStorage['allCourses'] = JSON.stringify(temp);
                            }
                        }
                    } else {
                        var temp = JSON.parse(localStorage[courseCode]);
                        for (var i = 0; i < temp.length; i++) {
                            if (temp[i].title == data.title) {
                                titleExists = true;
                            }
                        }
                        if (!titleExists) {
                            temp.push({title: courseName, data: data, selection: {}});
                            localStorage[courseCode] = JSON.stringify(temp);
                            if (localStorage[courseCode] == null) {
                                localStorage[courseCode] = JSON.stringify([{
                                    title: courseName,
                                    data: data,
                                    selection: {}
                                }]);
                                if (localStorage['allCourses'] == null) {
                                    var temp = [courseCode];
                                    localStorage['allCourses'] = JSON.stringify(temp);
                                } else {
                                    var temp = JSON.parse(localStorage['allCourses']);
                                    var courseExists = false;
                                    for (var i = 0; i < temp.length; i++) {
                                        if (temp[i] == courseCode) {
                                            courseExists = true;
                                        }
                                    }
                                    if (!courseExists) {
                                        temp.push(courseCode);
                                        localStorage['allCourses'] = JSON.stringify(temp);
                                    }
                                }
                            }
                        }


                    }

                    var sections = data.sections;
                    if (data.status != 409 && !titleExists) {
                        var msg = '<div class="panel panel-default">'+
                                '<button data-toggle="collapse" data-target="#collapse' + courseCount + '" class="list-group-item" value=' + courseCode + '><span id="close">x</span>' + courseCode + ': ' + courseName + '</button>' +
                                '<div id="collapse' + courseCount + '" class="panel-collapse collapse in"><div class="panel-body">';
                        msg += data.note + "<br>";
                        if (data.prereqs[0].length > 0) {
                            msg += "<span class='title'> PRE: </span>" + data.prereqs[0] + "<br>";
                        }
                        if (data.exclusions[0].length > 0) {
                            msg += "<span class='title'> EXC: </span>" + data.exclusions[0] + "<br>";
                        }
                        msg += "<div class='section'><span class='title'>SECTION: </span>";
                        sections.forEach(function (section) {
                            msg += "<div  class='content'>" + section.sectionCode + "</div>";
                        });
//
//                        msg += "<div class='time' style='display:none;'>" + lec.timings[0].day + "/" + lec.timings[0].startTime + "/" + lec.timings[0].endTime + "/" + lec.timings[0].location + "</div>";
//                        console.log(lec.timings[0].day + "/" + lec.timings[0].startTime + "/" + lec.timings[0].endTime + "/" + lec.timings[0].location);

//                        var courseInst = JSON.parse(args).data['instructors'];
//                        msg += "<span class='bold'> INSTR: </span>" + courseInst + "<br>";
//                        msg += "<br><span class='bold'>MAIN: </span>LEC0501<br>"+
//                                "<span class='bold'>SECONDARY: </span><div class='section'>LAB01</div><div class='section'>LAB02</div><div class='section'>LAB03</div><br>"+
//                                "<span class='bold'>Catalog #:</span><br><br>" +
//                                '<div class="progress" style="margin-top:5px"><div class="progress-bar" role="progressbar"aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div></div>';


                        msg += '</div>'
                        msg += '<div class="result"></div></div></div>';
                        $('#courses').prepend(msg);
                        courseCount++;
                    }
                },
                fail: function() {
                }
            });
            $(".select2").val('').trigger('change');
        }

        $('body').on('click', '.section .content', function() {
            var $courseCode = $(this).closest('.panel').find('button').attr('value');
            var $sectionSelected = $(this).text();
            var raw1 = $(this).closest('.panel').find('button').text();
            var text1 = raw1.substring(1);
            var array1 = text1.split(':');
            var courseCode = array1[0].trim();
            var title = text1.substring(courseCode.length +1).trim();
            var temp = JSON.parse(localStorage[courseCode]);
            var courseIndex = -1;
            for (var i = 0; i < temp.length; i++) {
                if (temp[i].title == title) {
                    courseIndex = i;
                }
            }

            if (temp[courseIndex].selection.section == $sectionSelected) {
                courseIndex = -1;
            }



            var $this = $(this);
            // Hightlight the section
            if (!$this.hasClass('selected')) {
                // remove all other active buttons
                $this.closest('.panel-body').find(".section .content").each(function () {
                    $(this).removeClass('selected');
                });
                $this.addClass('selected');
                if (localStorage.getItem($courseCode) === null) {
                } else {
                    var data = JSON.parse(localStorage.getItem($courseCode));
                    data.forEach(function(course) {
                        if (course.title === title) {
                            var sections = course.data.sections;
                            var msg = "<div class='fMeeting'><span class='title'>CHOOSE ALL: </span>";
                            sections.forEach(function (section) {
                                if (section.sectionCode === $sectionSelected) {
                                    if (section.fixedMeetings.length > 0) {
                                        section.fixedMeetings.forEach(function(fMeeting) {
                                            msg += "<div  class='content'>" + fMeeting.type + "</div>";
                                        })
                                    }
                                    msg+="</div>";

                                    if (section.varyingMeetings.length > 0) {
                                        msg += "<div class='vMeeting'><span class='title'>CHOOSE ONE: </span>";
                                        section.varyingMeetings.forEach(function(vMeeting) {
                                            msg += "<div  class='content'>" + vMeeting.type + "</div>";
                                        });
                                    }
                                    msg+="</div>";
                                }
                            });
                            msg+= "<div class='catalog'><span class='title'>CATALOG#: </span><div  class='number'></div></div>";
                            $this.closest('.panel-body').find('.result').html(msg);
                        }
                    });
                }
                //Adds section to localStorage
                if (courseIndex != -1) {
                    //If selection is empty
                    if (Object.keys(JSON.parse(localStorage[courseCode])[courseIndex].selection).length == 0) {
                        var temp2 = {};
                        temp2.section = $sectionSelected;
                        temp2.fMeetings = [];
                        temp2.vMeetings = [];
                        temp[courseIndex].selection = temp2;
                        localStorage[courseCode] = JSON.stringify(temp);
                        //Selection already exists
                    } else {
                        temp[courseIndex].selection.section = $sectionSelected;
                        temp[courseIndex].selection.fMeetings = [];
                        temp[courseIndex].selection.vMeetings = [];
                        localStorage[courseCode] = JSON.stringify(temp);
                    }
                }




            } else {
                // Dehighlight the section
                $(this).removeClass('selected');
                $(this).parent().next().empty();

                //Removes section from localStorage
                if (courseIndex != -1) {
                    temp[courseIndex].selection = {};
                    localStorage[courseCode] = JSON.stringify(temp);
                }
            }
        });

        var source = [];
        var sourceClicked = [];

//        $('body').on({
//            mouseenter: function(){
//                var $courseCode = $(this).closest('.panel').find('button').attr('value');
//                var $time = $(this).next().html().split('/'); //$time[0] = date, $time[1] = startTime, $time[2] = endTime, time[3] = location
//                source.push({
//                    id: $courseCode,
//                    title: $courseCode+'\n'+$time[3],
//                    start: $time[0] + 'T' + $time[1],
//                    end: $time[0] + 'T' + $time[2],
//                    color:'#4fd84a'
//                });
//
//                if (localStorage.getItem("data") === null) {
//                    $('#calendar').fullCalendar( 'addEventSource', source);
//                } else {
//                    var data = JSON.parse(localStorage.getItem("data"));
//                    data.forEach(function(val, i) {
//                        if (JSON.stringify(val) === JSON.stringify(source[source.length-1])) {
//
//                        } else {
//                            $('#calendar').fullCalendar( 'addEventSource', source);
//                        }
//                    });
//                }
//
//            },
//            mouseleave: function(){
//                $('#calendar').fullCalendar( 'removeEventSource', source);
//                source.pop();
//
//
//            }
//        }, '.section');

        // Add fixed meeting section on calendar
        $('body').on('click', '.fMeeting .content', function(e) {
//            $('#calendar').fullCalendar( 'removeEventSource', sourceClicked);
//            sourceClicked = [];

            var $courseCode = $(this).closest('.panel').find('button').attr('value');
            var $sectionSelected = $(this).parent().parent().prev().find('.selected').text();
            var raw1 = $(this).closest('.panel').find('button').text();
            var $meetingSelected = $(this).text();
            var text1 = raw1.substring(1);
            var array1 = text1.split(':');
            var courseCode = array1[0].trim();
            var title = text1.substring(courseCode.length +1).trim();
            var temp = JSON.parse(localStorage[courseCode]);
            var courseIndex = -1;
            for (var i = 0; i < temp.length; i++) {
                if (temp[i].title == title) {
                    courseIndex = i;
                }
            }

            //Check if meeting Selected is already in the array
            for (var i = 0; i < temp[courseIndex].selection.fMeetings.length; i++ ) {
                if (temp[courseIndex].selection.fMeetings[i] == $meetingSelected) {
                    courseIndex = -1;
                }
            }

            var $this = $(this);
            // Hightlight the fixedMeeting
            if (!$this.hasClass('selected')) {
                $this.closest('.panel-body').find(".fMeeting .content").each(function () {
                    $(this).removeClass('selected');
                });
                $this.addClass('selected');

                //Add fMeeting to LocalStorage
                if (courseIndex != -1) {
                    temp[courseIndex].selection.fMeetings.push($meetingSelected);
                    localStorage[courseCode] = JSON.stringify(temp);
                }

                if (localStorage.getItem($courseCode) === null) {
                } else {
                    var data = JSON.parse(localStorage.getItem($courseCode));
                    data.forEach(function (course) {
                        if (course.title === title) {
                            var sections = course.data.sections;
                            var fMeetingSelection = course.selection.fMeetings;
                            var vMeetingSelection = course.selection.vMeetings;
                            sections.forEach(function (section) {
                                if (section.sectionCode === $sectionSelected) {
                                    var fixedMeetings = section.fixedMeetings;
                                    fixedMeetings.forEach(function (fMeeting) {
                                        if (fMeeting.type === $meetingSelected) {
                                            var meetingTime = fMeeting.timings;
                                            meetingTime.forEach(function (time) {
                                                sourceClicked.push({
                                                    id: $courseCode,
                                                    title: $courseCode + '\n' + fMeeting.type,
                                                    start: convertDayToDate(time.day) + 'T' + (time.startTime.length > 4 ? time.startTime : 0 + time.startTime),
                                                    end: convertDayToDate(time.day) + 'T' + (time.endTime.length > 4 ? time.endTime : 0 + time.endTime),
                                                    color: '#4fd84a'
                                                });
                                            })
                                        };
                                    })
                                }
                            });
                        }
                    })
                    $('#calendar').fullCalendar('addEventSource', sourceClicked);
                }
            } else {
                // Dehighlight the fixedMeeting
                $(this).removeClass('selected');
                $('#calendar').fullCalendar('removeEventSource', sourceClicked);
                //Remove fMeeting from LocalStorage
                if (courseIndex != -1) {
                    //Find index of fMeeting to be removed
                    var fMeetingIndex = -1;
                    for (var e= 0; e < temp[courseIndex].selection.fMeetings; e++) {
                        if (temp[courseIndex].selection.fMeetings[fMeetingIndex] == $meetingSelected) {
                            fMeetingIndex = e;
                        }
                    }
                    if (fMeetingIndex != -1) {
                        temp[courseIndex].selection.fMeetings.splice(fMeetingIndex, 1);
                        localStorage[courseCode] = JSON.stringify(temp);
                    }

                }
            }
        });

        function convertDayToDate(day) {
            var date = "2015-12-";
            switch (day) {
                case "Monday":
                    date += 21;
                    break;
                case "Tuesday":
                    date += 22;
                    break;
                case "Wednesday":
                    date += 23;
                    break;
                case "Thursday":
                    date += 24;
                    break;
                case "Friday":
                    date += 25;
                    break;
            }
            return date;
        }

        // Add variable meeting section on calendar
        $('body').on('click', '.vMeeting .content', function(e) {
//            $('#calendar').fullCalendar( 'removeEventSource', sourceClicked);
//            sourceClicked = [];

            var $courseCode = $(this).closest('.panel').find('button').attr('value');
            var $sectionSelected = $(this).parent().parent().prev().find('.selected').text();
            var raw1 = $(this).closest('.panel').find('button').text();
            var $meetingSelected = $(this).text();
            var text1 = raw1.substring(1);
            var array1 = text1.split(':');
            var courseCode = array1[0].trim();
            var title = text1.substring(courseCode.length +1).trim();
            var temp = JSON.parse(localStorage[courseCode]);
            var courseIndex = -1;
            for (var i = 0; i < temp.length; i++) {
                if (temp[i].title == title) {
                    courseIndex = i;
                }
            }

            //Check if meeting Selected is already in the array
            for (var i = 0; i < temp[courseIndex].selection.vMeetings.length; i++ ) {
                if (temp[courseIndex].selection.vMeetings[i] == $meetingSelected) {
                    courseIndex = -1;
                }
            }

            var $this = $(this);
            // Hightlight the varyingMeeting
            if (!$this.hasClass('selected')) {
                // remove all other active buttons
                $this.closest('.panel-body').find(".vMeeting .content").each(function () {
                    $(this).removeClass('selected');
                });
                $this.addClass('selected');


                if (courseIndex != -1) {
                    temp[courseIndex].selection.vMeetings.push($meetingSelected);
                    localStorage[courseCode] = JSON.stringify(temp);
                }

                if (localStorage.getItem($courseCode) === null) {
                } else {
                    var data = JSON.parse(localStorage.getItem($courseCode));
                    data.forEach(function (course) {
                        if (course.title === title) {
                            var sections = course.data.sections;
                            sections.forEach(function (section) {
                                if (section.sectionCode === $sectionSelected) {
                                    var varyingMeetings = section.varyingMeetings;
                                    varyingMeetings.forEach(function (vMeeting) {
                                        if (vMeeting.type === $meetingSelected) {
                                            var meetingTime = vMeeting.timings;
                                            meetingTime.forEach(function (time) {
                                                sourceClicked.push({
                                                    id: $courseCode,
                                                    title: $courseCode + '\n' + vMeeting.type,
                                                    start: convertDayToDate(time.day) + 'T' + (time.startTime.length > 4 ? time.startTime : 0 + time.startTime),
                                                    end: convertDayToDate(time.day) + 'T' + (time.endTime.length > 4 ? time.endTime : 0 + time.endTime),
                                                    color: '#4fd84a'
                                                });
                                            })
                                        }
                                    })
                                }
                            });
                        }
                    })
                    $('#calendar').fullCalendar( 'addEventSource', sourceClicked);
                }
            } else {
                // Dehighlight the varingMeeting
                $(this).removeClass('selected');
                $('#calendar').fullCalendar('removeEventSource', sourceClicked);

                //Remove vMeeting from LocalStorage
                if (courseIndex != -1) {
                    //Find index of vMeeting to be removed
                    var vMeetingIndex = -1;
                    for (var e= 0; e < temp[courseIndex].selection.vMeetings; e++) {
                        if (temp[courseIndex].selection.vMeetings[vMeetingIndex] == $meetingSelected) {
                            vMeetingIndex = e;
                        }
                    }
                    if (vMeetingIndex != -1) {
                        temp[courseIndex].selection.vMeetings.splice(vMeetingIndex, 1);
                        localStorage[courseCode] = JSON.stringify(temp);
                    }

                }
            }
        });

        // Load all the courses on refresh
        localStorage['appVersion'] = "1.0";
        var loadCount = 1;
        var loadMsg = "";

        if (localStorage['allCourses'] != null) {
            for (var i in JSON.parse(localStorage['allCourses'])) {
                var course = JSON.parse(localStorage[JSON.parse(localStorage['allCourses'])[i]]);
                course.forEach(function (data) {
                    var courseCode = JSON.parse(localStorage['allCourses'])[i];
                    var courseName = data.title;
                    var courseData = data.data;
                    var sections = courseData.sections;
                    console.log(sections);

                    loadMsg = '<div class="panel panel-default">' +
                            '<button data-toggle="collapse" data-target="#collapse' + courseCount + '" class="list-group-item" value=' + courseCode + '><span id="close">x</span>' + courseCode + ': ' + courseName + '</button>' +
                            '<div id="collapse' + courseCount + '" class="panel-collapse collapse in"><div class="panel-body">';
                    loadMsg += courseData.note + "<br>";

                    if (courseData.prereqs) {
                        loadMsg += "<span class='title'> PRE: </span>" + courseData.prereqs + "<br>";
                    }
                    if (courseData.exclusions) {
                        loadMsg += "<span class='title'> EXC: </span>" + courseData.exclusions + "<br>";
                    }
                    loadMsg += "<div class='section'><span class='title'>SECTION: </span>";
                    sections.forEach(function (section) {
                        loadMsg += "<div  class='content'>" + section.sectionCode + "</div>";
                    });

                    loadMsg += '</div>'
                    loadMsg += '<div class="result"></div></div></div>';
                    $('#courses').prepend(loadMsg);
                    courseCount++;

                });
            }
        }

        $('body').on('click', '.list-group-item', function(e) {
            e.preventDefault();
            var $this = $(this);
            if (!$this.hasClass('active')) {
                // remove all other active buttons
                $(".list-group-item").each(function () {$(this).removeClass('active')});
                $this.addClass('active');
            }
        });

        // Delete a selected course from the sidebar
        $('body').on('click', '#close', function(){
            var raw1 = $(this).parent().text();
            var text1 = raw1.substring(1);
            var array1 = text1.split(':');
            var courseCode = array1[0].trim();
            var title = text1.substring(courseCode.length +1).trim();
            var temp = JSON.parse(localStorage[courseCode]);
            var toDel = -1;
            for (var i = 0; i < temp.length; i++) {
                if (temp[i].title == title) {
                    toDel = i;
                }
            }
            if (toDel != -1) {
                temp.splice(toDel, 1);
            }

            localStorage[courseCode] = JSON.stringify(temp);

            //Remove empty array
            if (JSON.parse(localStorage[courseCode]).length == 0) {
                localStorage.removeItem(courseCode);
                var allCourses = JSON.parse(localStorage['allCourses']);
                var courseIndex = -1;
                for (var i = 0; i < allCourses.length; i++) {
                    if (allCourses[i] == courseCode) {
                        courseIndex = i;
                    }
                }
                allCourses.splice(courseIndex, 1);
                localStorage['allCourses'] = JSON.stringify(allCourses);
                if (localStorage['allCourses'] == '[]') {
                    localStorage.removeItem('allCourses');
                }

            }
            $(this).closest('.panel').remove();
//            $form = $(this).closest('form');
//            $button = $(this).closest('button');
//
//            $.ajax({
//                type: "DELETE",
//                url: "/course/" + $(this).closest('button').attr('value'),
//                success: function(data) {
//                    window.location.reload();
//                },
//                fail: function() {
//                }
//            });
        })

        // Initiate fall calender
        $('#calendar').fullCalendar(
                {defaultView: 'agendaWeek',
                    columnFormat: 'ddd',
                    weekends: false,
                    header:false,
                    allDaySlot:false,
                    minTime: '08:00:00',
                    maxTime: '22:00:00',
                    slotDuration: '00:15:00',
                    slotLabelInterval: '01:00:00',
                    slotEventOverlap: false
                });

        $('#calendar').fullCalendar('gotoDate', '2015-12-21');

        $('#calendar').fullCalendar( 'addEventSource', [
            {
                title: 'CSC108\nLEC0101',
                start: '2015-12-24T08:15:00',
                end: '2015-12-24T10:15:00'
            },
            {
                title: 'CSC108\nLEC0101',
                start: '2015-12-22T08:15:00',
                end: '2015-12-22T10:15:00'
            }
        ] );

        $('#calendar').fullCalendar('option', 'height', 760);


        // Initiate winter calender
        $('#calendar2').fullCalendar(
                {defaultView: 'agendaWeek',
                    columnFormat: 'ddd',
                    weekends: false,
                    header:false,
                    allDaySlot:false,
                    minTime: '08:00:00',
                    maxTime: '22:00:00',
                    slotDuration: '00:15:00',
                    slotLabelInterval: '01:00:00',
                    slotEventOverlap: false
                });

        $('#calendar2').fullCalendar('gotoDate', '2015-12-21');
        $('#calendar2').fullCalendar('option', 'height', 760);
    });
</script>
</body>