<% include ../partials/head %>

<body>

<% include ../partials/nav_logged_in %>

<!-- Left side of the Page -->
<div class="container-fluid">
    <div class="row">
        <!-- Search class menu & classes -->
        <div class="col-sm-3 col-md-3 sidebar">
            <div class="input-group input-group-md">
                <!-- Search Functionality with Select 2 Plugin -->
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <select class="select2 form-control" style="width: 100%"></select>
            </div>

            <!-- List of Classes -->
            <div class="list-group" style="margin-top: 20px">
                <form id="courses">
                </form>
            </div>
        </div>

        <!-- RIGHT SIDE OF THE PAGE -->
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
            <div class="col-lg-6">
                <div>
                    <div id='calendar'></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div id='calendar2'></div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // Initiate localStorage
        if (typeof(Storage) !== "undefined") {
            // Store
            localStorage.setItem("test", "test");
            // Retrieve
            console.log("Successful");
            localStorage.clear();
        } else {
            alert("Your browser does not support Web Storage.\n (data is lost when the browser is closed.)");
        }

        // Initiate search bar
        $(".select2").select2({
            placeholder: "Select courses",
            ajax: {
                url: "/allCourses",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        term: params.term // search term
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data
                    // http://stackoverflow.com/questions/31353259/select2-4-0-0-cant-select-results

                    return {
                        results: data
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; }, // let the custom formatter work
            minimumInputLength: 3,
            templateResult: formatCourse,
            templateSelection: formatCourseSelection
        });


        function formatCourse (course) {
            if (course.loading) return course.text;
            var markup = "<div class='select2-result-repository clearfix'>" +
                    "<div class='select2-result-repository__title'>" + course.courseCode + " " + course.courseName + "</div></div>";
            return markup;
        }

        function formatCourseSelection (status) {
            return status.courseCode || status.text;
        }

        // Set eventListener for the searchbar
        var $eventSelect = $(".select2");
        $eventSelect.on("select2:select", function (e) { log("select2:select", e); });
        var courseCount = 1;


        // Add course to the sidebar
        function log (name, evt) {
            if (!evt) {
                var args = "{}";
            } else {
                var args = JSON.stringify(evt.params, function (key, value) {
                    if (value && value.nodeName) return "[DOM node]";
                    if (value instanceof $.Event) return "[$.Event]";
                    return value;
                });
            }

            var $email = $('#user-nav').attr('href');
            var courseExists = false;
            var courseCode = JSON.parse(args).data['courseCode'];
            var courseName = JSON.parse(args).data['courseName'];

            $.ajax({
                type: "GET",
                url: "/course/" + courseCode + "/" + courseName,
                dataType: 'json',
                success: function(data) {
                    if (localStorage[courseCode] == null) {
                        localStorage[courseCode] = JSON.stringify([{title: courseName, data: data, selection: {}}]);
                    } else {
                        var temp = JSON.parse(localStorage[courseCode]);
                        for (var i = 0; i < temp.length; i++) {
                            if (temp[i].title == data.title) {
                                courseExists = true;
                            }
                        }
                        if (!courseExists) {
                            temp.push({title: courseName, data: data, selection: {}});
                            localStorage[courseCode] = JSON.stringify(temp);
                        }


                    }

                    var sections = data.sections;
                    if (data.status != 409 && !courseExists) {
                        var msg = '<div class="panel panel-default">'+
                                '<button data-toggle="collapse" data-target="#collapse' + courseCount + '" class="list-group-item" value=' + courseCode + '><span id="close">x</span>' + courseCode + ': ' + courseName + '</button>' +
                                '<div id="collapse' + courseCount + '" class="panel-collapse collapse in"><div class="panel-body">';
                        msg += data.note + "<br>";
                        if (data.prereqs) {
                            msg += "<span class='title'> PRE: </span>" + data.prereqs + "<br>";
                        }
                        if (data.exclusions) {
                            msg += "<span class='title'> EXC: </span>" + data.exclusions + "<br>";
                        }
                        msg += "<div class='section'><span class='title'>SECTION: </span>";
                        sections.forEach(function (section) {
                            msg += "<div  class='content'>" + section.sectionCode + "</div>";
                        });
//
//                        msg += "<div class='time' style='display:none;'>" + lec.timings[0].day + "/" + lec.timings[0].startTime + "/" + lec.timings[0].endTime + "/" + lec.timings[0].location + "</div>";
//                        console.log(lec.timings[0].day + "/" + lec.timings[0].startTime + "/" + lec.timings[0].endTime + "/" + lec.timings[0].location);

//                        var courseInst = JSON.parse(args).data['instructors'];
//                        msg += "<span class='bold'> INSTR: </span>" + courseInst + "<br>";
//                        msg += "<br><span class='bold'>MAIN: </span>LEC0501<br>"+
//                                "<span class='bold'>SECONDARY: </span><div class='section'>LAB01</div><div class='section'>LAB02</div><div class='section'>LAB03</div><br>"+
//                                "<span class='bold'>Catalog #:</span><br><br>" +
//                                '<div class="progress" style="margin-top:5px"><div class="progress-bar" role="progressbar"aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width:40%"></div></div>';


                        msg += '</div></div></div>';
                        $('#courses').prepend(msg);
                        courseCount++;
                    }
                },
                fail: function() {
                }
            });
            $(".select2").val('').trigger('change');
        }

        $('body').on('click', '.section .content', function() {
            var $courseCode = $(this).closest('.panel').find('button').attr('value');
            var $sectionSelected = $(this).text();
            var raw1 = $(this).closest('.panel').find('button').text();
            var text1 = raw1.substring(1);
            var array1 = text1.split(':');
            var courseCode = array1[0].trim();
            var title = array1[1].trim();
            var temp = JSON.parse(localStorage[courseCode]);
            var doStuff = -1;
            for (var i = 0; i < temp.length; i++) {
                if (temp[i].title == title) {
                    doStuff = i;
                }
            }
            if (doStuff != -1) {
                //If selection is empty
                if (Object.keys(localStorage[courseCode][doStuff].selection).length == 0) {
                    var temp = {};
                    temp.section = $sectionSelected;
                    localStorage[courseCode][doStuff].selection = temp;
                //Selection is not empty
                } else {
                    localStorage[courseCode][doStuff].selection.section = $sectionSelected;
                }
            }

            if (localStorage.getItem($courseCode) === null) {
            } else {
                var data = JSON.parse(localStorage.getItem($courseCode));
                var sections = data.sections;
                var msg = "<div class='lecture'><span class='title'>MAIN: </span>";

                sections.forEach(function (section) {
//                    console.log(section.sectionCode === $sectionSelected);
                    if (section.sectionCode === $sectionSelected) {
                        if (section.sectionMeetings.length === 0 && section.catalogs.length === 1) {
                            msg += "<div  class='content'>" + section.catalogs[0].meeting.type + "</div></div>";
                        } else if (section.sectionMeetings.length > 1) {

                        }
                    }
                });


//                var msg = '<div class="panel panel-default">'+
//                        '<button data-toggle="collapse" data-target="#collapse' + courseCount + '" class="list-group-item" value=' + courseCode + '><span id="close">x</span>' + courseCode + ': ' + courseName + '</button>' +
//                        '<div id="collapse' + courseCount + '" class="panel-collapse collapse in"><div class="panel-body">';
//                msg += data.note + "<br>";





//                catalogs.forEach(function (lecture) {
//                    msg += "<div  class='section'>" + lecture.sectionCode + "</div>";
//                });

                if( $('.lecture').length ) {        // use this if you are using class to check
                    $('.lecture').replaceWith(msg);
                } else {
                    $('.panel-body').append(msg);
                }


            }
        });

        var source = [];
        var sourceClicked = [];

//        $('body').on({
//            mouseenter: function(){
//                var $courseCode = $(this).closest('.panel').find('button').attr('value');
//                var $time = $(this).next().html().split('/'); //$time[0] = date, $time[1] = startTime, $time[2] = endTime, time[3] = location
//                source.push({
//                    id: $courseCode,
//                    title: $courseCode+'\n'+$time[3],
//                    start: $time[0] + 'T' + $time[1],
//                    end: $time[0] + 'T' + $time[2],
//                    color:'#4fd84a'
//                });
//
//                if (localStorage.getItem("data") === null) {
//                    $('#calendar').fullCalendar( 'addEventSource', source);
//                } else {
//                    var data = JSON.parse(localStorage.getItem("data"));
//                    data.forEach(function(val, i) {
//                        if (JSON.stringify(val) === JSON.stringify(source[source.length-1])) {
//
//                        } else {
//                            $('#calendar').fullCalendar( 'addEventSource', source);
//                        }
//                    });
//                }
//
//            },
//            mouseleave: function(){
//                $('#calendar').fullCalendar( 'removeEventSource', source);
//                source.pop();
//
//
//            }
//        }, '.section');

        // Add lecture session on calendar
        $('body').on('click', '.lecture .content', function(e) {
            var $courseCode = $(this).closest('.panel').find('button').attr('value');
            var $sectionSelected;
            if (localStorage.getItem($courseCode) === null) {
            } else {
                var data = JSON.parse(localStorage.getItem($courseCode));
                var sections = data.sections;

                sections.forEach(function (section) {
//                    console.log(section.sectionCode === $sectionSelected);
                    if (section.sectionCode === $sectionSelected) {
                        var catalogs =  section.catalogs;
                        catalogs.forEach(function (catalog) {
                            var meetingTime = catalog.meeting.timings;
                            meetingTime.forEach(function (time) {
                                sourceClicked.push({
                                    id: $courseCode,
                                    title: $courseCode+'\n'+catalog.meeting.type,
                                    start: convertDayToDate(time.day) + 'T' + time.startTime,
                                    end: convertDayToDate(time.day) + 'T' + time.endTime,
                                    color:'#4fd84a'
                                });
                            })
                        })
                    }
                });
            }
            $('#calendar').fullCalendar( 'addEventSource', sourceClicked);
        });

        function convertDayToDate(day) {
            var date = "2015-12-";
            switch (day) {
                case "Monday":
                    date += 21;
                    break;
                case "Tuesday":
                    date += 22;
                    break;
                case "Wednesday":
                    date += 23;
                    break;
                case "Thursday":
                    date += 24;
                    break;
                case "Friday":
                    date += 25;
                    break;
            }
            console.log(date);
            return date;
        }



        // Load courses on reload
        //for (var i = 0; i < courses.length; i++) {
        //    $('#courses').prepend("<button type='submit' class='list-group-item' value=" + courses[i].courseCode + "><span id='close'>x</span>  " + courses[i].courseCode + ": " + courses[i].courseName + "</button>");
        //};
        $('body').on('click', '.list-group-item', function(e) {
            e.preventDefault();
            var $this = $(this);
            if (!$this.hasClass('active')) {
                // remove all other active buttons
                $(".list-group-item").each(function () {$(this).removeClass('active')});
                $this.addClass('active');
                $('.suggested-ads').remove();
            }
        });

        // Delete a selected course from the sidebar
        $('body').on('click', '#close', function(){
            var raw1 = $(this).parent().text();
            var text1 = raw1.substring(1);
            var array1 = text1.split(':');
            var courseCode = array1[0].trim();
            var title = array1[1].trim();
            var temp = JSON.parse(localStorage[courseCode]);
            var toDel = -1;
            for (var i = 0; i < temp.length; i++) {
                if (temp[i].title == title) {
                    toDel = i;
                }
            }
            if (toDel != -1) {
                temp.splice(toDel, 1);
            }
            localStorage[courseCode] = JSON.stringify(temp);
            $(this).closest('.panel').remove();
//            $form = $(this).closest('form');
//            $button = $(this).closest('button');
//
//            $.ajax({
//                type: "DELETE",
//                url: "/course/" + $(this).closest('button').attr('value'),
//                success: function(data) {
//                    window.location.reload();
//                },
//                fail: function() {
//                }
//            });
        })

        // Initiate fall calender
        $('#calendar').fullCalendar(
                {defaultView: 'agendaWeek',
                    columnFormat: 'ddd',
                    weekends: false,
                    header:false,
                    allDaySlot:false,
                    minTime: '08:00:00',
                    maxTime: '21:00:00',
                    slotDuration: '00:15:00',
                    slotLabelInterval: '01:00:00'
                });

        $('#calendar').fullCalendar('gotoDate', '2015-12-21');

        $('#calendar').fullCalendar( 'addEventSource', [
            {
                title: 'CSC108\nLEC0101',
                start: '2015-12-24T08:15:00',
                end: '2015-12-24T10:15:00'
            },
            {
                title: 'CSC108\nLEC0101',
                start: '2015-12-22T08:15:00',
                end: '2015-12-22T10:15:00'
            }
        ] );

        $('#calendar').fullCalendar( 'addEventSource', [
            {
                title: 'CSC343\nLEC0101',
                start: '2015-12-21T15:00:00',
                end: '2015-12-21T16:00:00',
                color:'#ff9b00'
            },
            {
                title: 'CSC343\nLEC0101',
                start: '2015-12-23T15:00:00',
                end: '2015-12-23T16:00:00',
                color:'#ff9b00'
            },
            {
                title: 'CSC343\nLEC0101',
                start: '2015-12-25T15:00:00',
                end: '2015-12-25T16:00:00',
                color:'#ff9b00'
            },
        ] );

        $('#calendar').fullCalendar( 'addEventSource', [
            {
                title: 'MAT301\nLEC0101',
                start: '2015-12-23T18:00:00',
                end: '2015-12-23T21:00:00',
                color:'#4fd84a'
            }
        ] );
        $('#calendar').fullCalendar('refetchEvents');


        $('#calendar').fullCalendar('option', 'height', 720);


        // Initiate winter calender
        $('#calendar2').fullCalendar(
                {defaultView: 'agendaWeek',
                    columnFormat: 'ddd',
                    weekends: false,
                    header:false,
                    allDaySlot:false,
                    minTime: '08:00:00',
                    maxTime: '21:00:00',
                    slotDuration: '00:15:00',
                    slotLabelInterval: '01:00:00'
                });

        $('#calendar2').fullCalendar('gotoDate', '2015-12-21');
        $('#calendar2').fullCalendar('option', 'height', 720);
    });
</script>
</body>